html {
  font-family: 'Slabo 27px', serif;
}

#agarrador {
  width: 100%;
  margin: auto;
  max-width: 1024px;
}

  header {
    padding: 20px;
    height: 100px;
    max-width: 1024px;
    text-align: center;
  }

    header h1 {
      text-decoration: bold;
      margin-top: 40px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 2em;
      color: white;
      background-color: black;
      opacity: 0.8;

    }

    .primero {
      display: inline-block;
      position: relative;
      width: 40%;
      margin: 50px;
      background-color: white;
      opacity:0.9;
      border-radius: 25px;
    }

    .primero img {
      width:300px;
    height:300px;
    border-radius:160px;
    border:10px solid black;
    margin-top: 10px;
    }
    video{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
    
    }
    p{
      color:black;
      text-align: justify;
      margin: 10px;
      text-decoration: bold;

    }
    h2{
      color: white;
    }
    


    