body{
	margin: 0 auto;
background color
}
video{
position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    
    }
}
nav{
	margin-left: 10%;
}
nav ul li {
	list-style: none;
	text-decoration: none;
	margin-left: 300px;
	text-align: center;
	margin-top: 50px;
	padding: 15px;
	margin: 0px;
	float: right;
	color:white;
	font-size: 30px;
	border-top-width: thick;
	border-top-style: solid;
	border-top-color: white;
	font-size: 30px;
	font-family: 'Slabo 27px', serif;
}
.hola{
	font-family: 'Slabo 27px', serif;
	
	margin-left: 15%;
	color: white;
	margin-top: 5%;
	font-size: 35px;
	
}
a{
	text-decoration: none;
	list-style: none; 
	color: white;


}  
aside p{
	font-family: 'Slabo 27px', serif;
	margin-top: 15%;
	margin-right: 70%;
	color: white;
    margin-left: 10%;
    text-align: justify;

    }


a:hover{
	color: yellow;background: none; 

}
footer{
	color: white;
	margin-left: 50%;
	margin-right: 0%;
	font-family: 'Slabo 27px', serif;


}
article:first-child{
	margin-left: 40%;
	margin-right: 10%;
	color: white;
	text-align: justify;
	display: inline-block;
	width: 50%;
	float: right;
     
 }
  article:nth-child(2){
	margin-left: 40%;
	margin-right: 10%;
	color: white;
	float: right;
	text-align: justify;
	display: inline-block;
	width:50%;
}
  section{
  	float:right;
  }

