nav{
	float: right;
	margin-top: 15px;
	margin-right: 100px;
	margin-top: 130px;

    
} 
nav ul li{

	list-style: none;
	text-align: center;
	margin: 0px;
	color:red;
	font-size: 30px;
    border-width: thick;
	border-style: solid;
    }
 a{
 	text-decoration: none;
 	color: red;
 }
 div{
 	margin-left: 200px;
 	width: 10px;
 }
 div img{
 	border: 7px solid;
  	border-color: #2B2800; 
 }
 .container{
 	width: 400px;
 	display: inline-block;
 }